# Ignore everything by default
*

# Allow the .gitignore file
!.gitignore

# Specifically allow only these files
!02 pemahaman_data_rekayasa_fitur_v3.ipynb
!03 Pembuatan Fitur.ipynb
!dataset_harga_rumah.csv

# Ekstraksi Fitur
!04 Ekstraksi Fitur (data gambar).ipynb
!04 Ekstraksi Fitur (data teks).ipynb
!04 Ekstraksi Fitur (data terstruktur).ipynb
!ubin_warna.png
!bunga.jpg
!mobil_3.jpg
!apel_2.jpg
!apel_6.jpg

# Visualisasi Fitur
!05 Iris.ipynb
!05 Visualisasi Fitur (gambar).ipynb
!05 Visualisasi Fitur (tabular).ipynb
!05 Visualisasi Fitur (teks).ipynb
!data_mahasiswa_baru.csv
!angka/