# Ignore everything by default
*

# Allow the .gitignore file
!.gitignore

# Specifically allow only these files
!02 pemahaman_data_rekayasa_fitur_v3.ipynb
!03 Pembuatan Fitur.ipynb
!dataset_harga_rumah.csv

# Ekstraksi Fitur
!04 Ekstraksi Fitur (data gambar).ipynb
!04 Ekstraksi Fitur (data teks).ipynb
!04 Ekstraksi Fitur (data terstruktur).ipynb
!ubin_warna.png
!bunga.jpg
!mobil_3.jpg
!apel_2.jpg
!apel_6.jpg
!daun.jpg
!kain_motif.jpg
!pejalan_kaki_1.jpg
!pejalan_kaki_2.jpg
!pejalan_kaki_3.jpg
!mainan1.jpg
!mainan2.jpg
!mainan_banyak1.jpg
!mainan_banyak2.jpg
!mainan_banyak3.jpg
!mainan_banyak4.jpg
!mainan_banyak5.jpg
!gambar_persegi.png
!grafik_sederhana.png
